*{
    margin: 0 auto;
    padding: 0;
}

#login{
    max-width: 25%;
    text-align: center;
    border: 2px, black;
    border-style: solid;
    border-radius: 5px;    
    padding: 30px;
}

.loginItem {
    font-size: 20px;
}

.loginInput {
    font-size: 18px;
    border: 1px, black;
    border-style: solid;
    border-radius: 5px;
}

.errors{
    color: red;
}

#errors{
    text-align: center;
}